@using ToDoList.Domain.Core.DTOs.Category
@using ToDoList.Domain.Core.DTOs.ToDoItem
@model UpdateItemDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1>Edit task</h1>
        <form asp-action="Edit" method ="post" class="task-form">
                <div class="form-input">
                    <input asp-for="Id" type="hidden"/>
                </div>
                <div class="form-input">
                    <label asp-for="Title">Task</label>
                    <textarea asp-for="Title" rows="5" cols="40">Type your task here...</textarea>
                </div>

                <div class="form-input">
                    <label asp-for="DueTime">Due Date</label>
                    <input asp-for="DueTime">
                </div>

                <div class="form-input">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId">
                    @foreach(var item in (List<GetCategoryDto>)ViewBag.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                    
                    </select>
                </div>
                <div class="form-input">
                    <label asp-for="Status">Status</label>
                    <select asp-for="Status">
                        @foreach (var status in Enum.GetValues(typeof(ToDoList.Domain.Core.Enums.StatusEnum)))
                        {
                             <option value="@status">@status</option>
                        }
                    </select>
                </div>
                
                <button type="submit" id="save-task-btn">Save</i></button>
            
            

        </form>
</body>
</html>