@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Jost", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/wallhaven-498e2w_1920x1080.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    padding: 20px 10px;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2); /* سفید نیمه شفاف */
    backdrop-filter: blur(10px); /* افکت بلور */
    border: 1px solid rgba(255, 255, 255, 0.3); /* حاشیه شفاف */
}

.add-to-List button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    height: 55px;
    margin-bottom: 15px;
    transition: all 0.2s ease;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2); /* سفید نیمه شفاف */
    backdrop-filter: blur(10px); /* افکت بلور */
    border: 1px solid rgba(255, 255, 255, 0.3); /* حاشیه شفاف */
}

    .add-to-List button:hover {
        background-color: #ed9082;
        scale: 1.09;
    }

.to-do-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    color: white;
}

.to-do-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    width: 625px;
    background: rgba(255, 255, 255, 0.2); /* سفید نیمه شفاف */
    backdrop-filter: blur(10px); /* افکت بلور */
    border: 1px solid rgba(255, 255, 255, 0.3); /* حاشیه شفاف */
}

.task-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .task-details span {
        padding: 5px 10px;
        margin-top: 10px;
        margin-right: 10px;
        box-shadow: 0 0 100px rgba(0,0,0,0.5);
        border: 3px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;
        font-size: 15px;
    }

.task-title {
    font-size: 18px;
}

.task-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .apply-btn,
    .task-buttons button {
        width: 40px;
        height: 40px;
        box-shadow: 0 0 100px rgba(0,0,0,0.5);
        border: 3px solid rgba(255, 255, 255, 0.18);
        border-radius: 50%;
        margin: 0 5px;
        transition: all 0.2s ease;
        cursor: pointer;
        color: white;
    }

        .apply-btn :hover {
            transform: scale(1.2);
        }

        .task-buttons button:hover {
            transform: scale(1.2);
        }

    .task-buttons .edit-btn {
        background: #1fb583;
    }

    .task-buttons .delete-btn {
        background-color: #d03e28;
    }

.Filter button {
    background-color: rgb(0, 149, 255);
}

.apply-btn {
}

.Filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    height: 80px;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.2); /* سفید نیمه شفاف */
    backdrop-filter: blur(10px); /* افکت بلور */
    border: 1px solid rgba(255, 255, 255, 0.3); /* حاشیه شفاف */
}

.filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

    .filter-form .search {
        width: 100%;
        margin-right: 10px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .filter-form .search input {
            width: 100%;
            border-radius: 20px;
            padding: 5px;
            height: 50px;
            border: 3px solid rgba(255, 255, 255, 0.18);
            background: rgba(255, 255, 255, 0.2); /* سفید نیمه شفاف */
            backdrop-filter: blur(10px); /* افکت بلور */
            border: 1px solid rgba(255, 255, 255, 0.3); /* حاشیه شفاف */
        }

.sort select {
    border: 3px solid rgba(255, 255, 255, 0.18);
    height: 50px;
    background: rgba(255, 255, 255, 0.2); /* سفید نیمه شفاف */
    backdrop-filter: blur(10px); /* افکت بلور */
    border: 1px solid rgba(255, 255, 255, 0.3); /* حاشیه شفاف */

    border-radius: 20px;
}
